@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*--------------------------------------------------------------------------*/
/*------------------------------------------------------------Logo & Nav Bar*/


/* ----- Logo ---- */

nav {position: relative;
    padding: 0px 0px 140px 0px;
    top: 0;
   
}

.logo {
    float: left;
    margin-left: 40px;
}

.logo-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 5rem;
    letter-spacing: 2px;
    color: #000;
}

.logo-base a:hover {
    text-decoration: none;
}
   
.logo-title-strong {
   
    font-family: "Roboto Condensed", sans-serif;
    letter-spacing: 2px;
     color: #000;
     line-height: 0.75;
    font-weight: bolder;
    font-size: 6rem;
}

/*--------------------------------Nav Bar*/




nav .nav-wrapper ul li a {
    float: right;
    text-decoration: none;
    list-style: none;
}

.nav-wrapper ul li a:hover{
    color: #252525; 
    opacity: 0.7;
    transition: 1s;
    text-shadow: 4px 4px 8px #26272b; ;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
   padding: 25px 0;
}



nav ul li:not(:first-child){
    margin-left: 48px;
    }

    nav ul li:last-child{
    margin-right: 28px;
    }

nav ul li a {
    display: inline-block;
    color: #000;
    font-family: "Roboto Condensed", sans-serif;
     font-size: 2rem;
     font-weight: bold;
     letter-spacing: 2.5px;
}



/*----------------------------------------------------------------------*/
/*-----------------------------------------------------------Media Query*/


/*---The following Media Query to line 222 is only for the NAV BAR */


@media screen and (max-width: 993px) {
    nav {
        padding: 10px 10px;
    }
    .logo
    {
        padding: 20px 15px 20px 0;
           }
    .logo-title {
        font-size: 55px;
    }
     .logo-title-strong {
        font-size: 70px;
    }
    nav ul li{
    padding: 12px 5px;
    }

    nav ul li a {
        font-size: 35px;
            }

    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: -1;
        opacity: 0;
        transition: all 0.2s ease;
    }        

     .nav-wrapper ul{
         position: absolute;
         top: 30%;
         transform: translateY(-50%);
        }
  

    .nav-wrapper ul li {
        display: block;
        width: 100%;
        float: none;
        text-align: right;
        margin-bottom: 10px;
    }

/*-------------------------------------------------------------------------*/
/*--------------------------------------------------------Drop-down Sequence*/

    .nav-wrapper ul li:nth-child(1) a {
        transition-delay: 0.3s;
    }

    .nav-wrapper ul li:nth-child(2) a {
        transition-delay: 0.4s;
    }

    .nav-wrapper ul li:nth-child(3) a {
        transition-delay: 0.5s;
    }

    .nav-wrapper ul li:nth-child(4) a {
        transition-delay: 0.6s;
    }

   nav ul li:not(:first-child){
        margin-left: 0;
   }    

    .nav-wrapper ul li a {
        padding: 10px 22px;
        color: #fff;
        font-size: 1.5rem;
        letter-spacing: 1.2px;
        opacity: 0;
        transform: translateX(-20px);
        transition: all 0.2s ease;
}

    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        width: 48px;
        height: 48px;
        display: block;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
        }

    .nav-btn i {
        display: block;
        width: 40px;
        height: 3px;
        background: #000;
        border-radius: 2px;
        margin-left: 5px;
    }

    .nav-btn i:nth-child(1){
        margin-top: 24px;
    }
    .nav-btn i:nth-child(2){
        margin-top: 4px;
        opacity: 1;
    }
    .nav-btn i:nth-child(3){
        margin-top: 4px;
    }

}

/* ------------------------End of Nav Media Query */

/*----------------------------------------------------------BurgerIcon setting*/


#nav:checked + .nav-btn{
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i{
    background: #fff;
    transition: all 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(7px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
    opacity:0;
}
#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-7px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}

/* ---------------------------------------------End Nav Bar Section */

.main-outer .row {
    display: flex;
   align-items: center;
   margin: 30px auto;
}

.main-outer .row-1 {
     background-color: #d4af37;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 8px 7px 4px #a59e8e;
    
}

.row-1 img {
    max-height: 200px;
     box-shadow: 3px 5px 6px #565b5d ;
}


.main-outer .row-2 {
      background-color: #A9A9A9;
      padding: 15px;
      border-radius: 8px;
      box-shadow: 8px 7px 4px #a59e8e;
}

.row-2 img{
    max-height: 200px;
     box-shadow: 3px 5px 6px #565b5d ;
}

.row-3 {
    background-color: #d4af37;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 8px 7px 4px #a59e8e;
}

.intro-text {
    padding: 0 20px;
    color: #282828;
}

.intro-text p {
    font-weight: 500;
}

.intro-text li  {
     list-style: none;
}


.intro-text li a {
    color: darkblue;
    font-weight: bolder;
    list-style: none;
}

.intro-text span a {
    color: darkblue;
    font-weight: bolder;
}


.intro-text2 li  {
     list-style: none;
}

.intro-text2 span a {
 color: darkblue;
    font-weight: bolder;
}




/*=========================================================Footer*/

.site-footer container
{
  position:relative;
  bottom: 0;
  
 }

.site-footer 
{ 
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
